<footer class="cmp-footer">
    <div class="cmp-footer--container-limit">
        <div class="cmp-footer--container">
            <div>
                <div class="cmp-footer--logo">
                    <img src="assets/logo-branco.png" alt="Logo">
                </div>
    
                <div class="cmp-footer--contact">
                    <h3>Contato</h3>
                    <p>Email: "joao.gomeshugill&:64gmail.com"</p>
                    <p>Telefone: +55 (48) 98418-5251</p>
                    <p>Nome: João Exemplo</p>
                </div>
            </div>
            <div>
    
                <div class="cmp-footer--links">
                    <h3>Links Úteis</h3>
                    <ul>
                        <li><a routerLink="/about">Sobre Nós</a></li>
                        <li><a routerLink="/services">Serviços</a></li>
                        <li><a routerLink="/privacy">Política de Privacidade</a></li>
                        <li><a routerLink="/terms">Termos de Uso</a></li>
                    </ul>
                </div>
    
                <div class="cmp-footer--social">
                    <h3>Redes Sociais</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="cmp-footer--bottom">
            <p>&copy; 2024 Todos os direitos reservados. Exemplo Empresa.</p>
        </div>
    </div>
</footer>