<section>
    <div class="cmp-home">
        <div class="cmp-home--titlecontainer">
            <h2>Encurtador e Contabilizador de Acessos </h2>
            @if(!userToken) {
                <span>(Access Count e salvar as urls está disponível para usuários cadastrados)</span>
            }
        </div>
        <div class="url-shortener">
            <input #urlInput type="text" placeholder="Insira a URL para encurtar" />
            @if (loading) {
                <button disabled="true">Loading...</button>
            } @else {
                <button (click)="onSubmit(urlInput.value)">Encurtar URL</button>
            }
        </div>
        
        @if (successMessage) {
            <div class="result-container">
                <p>{{ successMessage }}</p>
                @if (shortUrl) {
                    <a [href]="shortUrl" target="_blank">{{shortUrl}}</a>
                }
            </div>
        }
    </div>
</section>
